{% extends 'base.html.twig' %}

{% block title %}New Page{% endblock %}

{% block main %}
    <h1>Create new Page</h1>

    {{ include('page/_form.html.twig') }}

    <a href="{{ path('app_page_index') }}"class="btn btn-primary btn-lg">Retour</a>
{% endblock %}
