{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
<div class="example-wrapper">
    <h1>Contact</h1>

    Ce formulaire est factisse c'est seulement pour s'entraîner
    <br/>
            <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Votre text</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    </div>
</div>


{% endblock %}
