{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block main %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur mon site</h1>

    Ce site parlera de tout et n'importe quoi sur moi 😁!
    <ul>
        <li> <a href="{{path('app_pages_hobbies')}}">Mes hobbies</a></li>
        <li> <a href="{{path('app_pages_monStage')}}">Mon stage de 2ème année</a></li>
    </ul>
</div>
{% endblock %}
