{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Jeux vidéos</h1>
            <br/>
            <p>Le jeu vidéo est plus qu'un simple divertissement, c'est une passion qui nous transporte dans des mondes fantastiques,
                nous fait vivre des aventures palpitantes, nous fait découvrir des cultures et des histoires différentes, 
                nous fait rencontrer des amis et des ennemis, nous fait rire et pleurer, nous fait réfléchir et apprendre, 
                nous fait rêver et créer. Le jeu vidéo est une passion qui nous fait grandir et nous épanouir.
            </p>
            <br/>
            <h3><b>Voici la liste de mes jeux favoris</b></h3>
            <br/>
            <br/>
            <h4>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <b>God of War</b>
                    </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-3">
                                    <img src="https://cdn.dlcompare.com/game_tetiere/upload/gameimage/file/95a1-god_of_war_4.jpeg" class="img-thumbnail" alt="...">
                                </div> 
                                <div class="col-9">
                                <p><strong>God of War</strong> est une série de jeux vidéo d'action-aventure de type beat them all débutée en 2005, développée par SIE Santa Monica Studio et produite par Sony Computer Entertainment. Ayant laissé derrière lui sa vengeance contre les dieux de l'Olympe, Kratos mène désormais une vie simple dans le royaume des dieux et des monstres nordiques. C'est dans cet univers exigeant et impitoyable qu'il doit se battre pour survivre… et apprendre à son fils à faire de même.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <b>Sekiro</b>
                    </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        <div class="row">
                                <div class="col-3">
                                    <img src="https://m.media-amazon.com/images/I/61-Li9kDnSL._UC256,256_CACC,256,256_.jpg" class="img-thumbnail" alt="...">
                                </div>
                                <div class="col-9">
                                    <p><strong>Sekiro: Shadows Die Twice </strong> est un jeu vidéo d'action-aventure développé par FromSoftware et édité par Activision, sorti le 22 mars 2019 sur Windows, PlayStation 4 et Xbox One. Le jeu se déroule dans un Japon médiéval-fantastique durant l'époque Sengoku. Pendant l'ère Sengoku au Japon2,3, le seigneur de guerre Isshin Ashina lance un coup d'état sur la ville d'Ashina. Au cours des combats sanglants, un shinobi errant, Ukonzaemon Usui dit la Chouette, recueille un orphelin qu'il appelle Loup et le forme à l'art du combat et la voie du shinobi. Vingt ans plus tard, le clan Ashina est sur le point de tomber.</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <b>Elden Ring</b>
                    </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-3">
                                    <img src="https://image.api.playstation.com/vulcan/ap/rnd/202107/1612/Y5RHNmzAtc6sRYwZlYiKHAxN.png" class="img-thumbnail" alt="...">
                                </div>
                                <div class="col-9">
                                    <p><strong>Elden Ring </strong>Elden Ring est un jeu vidéo d'action-RPG développé par FromSoftware et édité par Bandai Namco Entertainment, issu de la collaboration entre le créateur de jeux vidéo Hidetaka Miyazaki et l'écrivain George R. R. Martin. Il sort le 25 février 2022 sur PlayStation 4, PlayStation 5, Xbox One, Xbox Series et Windows.Dans l'Entre-terre où règne la reine Marika l'Éternelle, le Cercle d'Elden, source vitale de l'Arbre-Monde, fut brisé. Les descendants de Marika, tous des demi-dieux, revendiquèrent les éclats du Cercle d'Elden, également appelés runes majeures.</p>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <b>The Last of Us</b>
                    </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-3">
                                    <img src="https://sm.ign.com/t/ign_fr/cover/t/the-last-o/the-last-of-us-part-1_99pd.128.jpg" class="img-thumbnail" alt="...">
                                </div>
                                <div class="col-9">
                                    <p><strong>The Last of Us</strong>  est le nom d'une série de jeux vidéo, développée par Naughty Dog et éditée par Sony Computer Entertainment, de type action-aventure et survie, ayant comme thème principal un univers post-apocalyptique après une pandémie provoquée par un champignon appelé le cordyceps.</P>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
            </h4>
        </div>
    </div>
</div>
{% endblock %}
