{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block main %}
<div class="container">
    <div class="row" id="montagne">
      <div class="example-wrapper">
    <h1>Montagne</h1>

    <p> J'ai une très grosse passion pour la rondonée en montagne</p>
    <br/>
    <p>Les montagnes sont des merveilles de la nature. Elles se dressent fièrement dans le ciel. Elles offrent des paysages à couper le souffle. Et des défis à relever pour les aventuriers</p>
    <br/>
    <p>Les montagnes sont des sources d'inspiration. Elles éveillent l'imagination et la créativité. Elles invitent à la contemplation et à la méditation. Et à la découverte de soi et du monde</p>
    <br/>
    <p>Les montagnes sont des symboles de passion. Elles expriment la force et la beauté. Elles demandent du courage et de la détermination. Et elles récompensent par l'émotion et la joie</p>
    <br/>
    <p>Voici des photos des meilleurs lieus que j'ai pue faire</p>
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cdn.discordapp.com/attachments/906266353344843827/1194284276783517868/Screenshot_20240109_151025_AllTrails.jpg?ex=65afcae8&is=659d55e8&hm=808dbcdd051c28461b0d3853cf94437967bf7e22b9df68a46e049afa389c813e&" class="d-block w-100" alt="img1" id="img1">
    </div>
    <div class="carousel-item">
      <img src="https://cdn.discordapp.com/attachments/906266353344843827/1194284275986608248/Screenshot_20240109_151836_AllTrails.jpg?ex=65afcae8&is=659d55e8&hm=fd09188ae02469baf61e41390c10796cc2dfa35fe462503759655aa9a59f9ec0&" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://cdn.discordapp.com/attachments/906266353344843827/1194284277148426301/Screenshot_20240109_150931_AllTrails.jpg?ex=65afcae8&is=659d55e8&hm=b0a3437eabb2da91b36c75f1cd6e896a95e5d15366694c48c0974db29ab61691&" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    </div>
    </div>
</div>


{% endblock %}
