/**HEADER**/
#navbarNav {
    display: flex;
    justify-content: space-between;
}
#gestionco {
    float: left;
}

input[type=text], input[type=password] {
    background-color: gray;
    color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/**DASHBOARD**/
body .Dash{
    background-color: grey;
}

/**FORMULAIRE**/
body .login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
form {
    text-align: center;
    background-color:rgba(198, 198, 199);
    animation: color 12s ease-in-out infinite;
    border-radius: 50%; /* Cela rendra le fond du formulaire circulaire */
    width: 250px; /* Ajustez cette valeur pour changer la taille du cercle */
    height:250px; /* Ajustez cette valeur pour changer la taille du cercle */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/** Partie general **/
body{
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(45deg, rgba(187, 187, 187,0.04) 0%, rgba(187, 187, 187,0.04) 50%,rgba(86, 86, 86,0.04) 50%, rgba(86, 86, 86,0.04) 100%),linear-gradient(135deg, rgba(166, 166, 166,0.04) 0%, rgba(166, 166, 166,0.04) 50%,rgba(92, 92, 92,0.04) 50%, rgba(92, 92, 92,0.04) 100%),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); background-size: 142px 142px;
    animation: color 12s ease-in-out infinite;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

a {
    color: white;
}

hr {
    size: 100px;
    color: #ffffff;
    background-color: gray;
}
p {
    color: white;
    font-size: 2rem;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin-bottom: 12px;
    text-align: center;
}

h1,h2,h3,h4 {
    color: white;
    text-align: center;
    font-style: oblique;
}

ul {
    color: white;
}

/**INDEX**/
#accueil{
    background-image: url("https://cdn.discordapp.com/attachments/906266353344843827/1195379620032299060/index.jpg?ex=65b3c706&is=65a15206&hm=4d8c0c76b4dbf2aefbab377215659d5b6126cd6fb12357bcb62c516720f2a563&");
    background-size: cover;
    width: 1200x;
    height: 800px;
}
#menu{
    margin-top: 3rem;
    text-align: center;
}

#bmenu{
    size: 200px;
}

/**accordion**/
.accordion-body {
    background-color: rgb(133, 127, 127);
}

.accordion-body p {
    font-size: 1rem !important;
}

/**Voiture**/
#voiture {
    background-color: rgb(100, 105, 105);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

#voiture img {
    width :273px;
    height :273px;
}

#voiture p {
    color: rgb(0, 0, 0);
}

#tvoiture p {
    font-size: 2rem !;
}
/**rep**/
#brep h1 {
    color: darkgreen;
}

#mrep h1 {
    color: rgb(190, 20, 20);
}
/**montagne**/
#montagne {
    text-align: center;
}

#montagne img{
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}


/**Hobbies **/
#hobbie{
    text-align: center;
}

/**competences**/
#imgc{
    width: 200px;
    height:200px;

}

/**footer **/
#footer p{
    font-size: 1rem !important;
    text-align: center;
}

#footer {
    backdrop-filter: blur(40px);
    --webkit-bacdrop-filter: blur(40px);
}

#footer img{
    width :100px;
    height :100px;
}
